# **Data Cleaning**

In [ ]:
#adjust the display settings to be able to better understand our data
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', None)  # Show all rows (if needed)

In [3]:
import pandas as pd
import numpy as np
import re
import math

In [4]:
#reading the data
#data = pd.read_csv("C:\\Users\\ginny\\Desktop\\RCG\\Group Work\\Iowa_Liquor_Sales_SEP2024.csv") #Maud

data = pd.read_csv("/Users/christopherstephan/Documents/IE/Term 3/Consumer Goods/project/Iowa_Liquor_Sales_DEC24.csv") #Chris

#gdown.download('https://drive.google.com/uc?export=download&id=1Nvt1FeNTQPWFXKZHhWD3P4Ynmwt3xGCG', 'archivo.csv', quiet=False)
#data = pd.read_csv('archivo.csv') #Cristina

/var/folders/_8/hcj6x_gn51q577lb1lp9x6h40000gn/T/ipykernel_23107/427852560.py:4: DtypeWarning: Columns (6,14) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/Users/christopherstephan/Documents/IE/Term 3/Consumer Goods/project/Iowa_Liquor_Sales_DEC24.csv") #Chris

In [ ]:
#display first "n" lines of data
data.head(10)

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,INV-10004700134,01/25/2018,4988,HAPPY'S WINE & SPIRITS,5925 UNIVERSITY AVE,CEDAR FALLS,50613.0,POINT (-92.429331 42.512766),7.0,BLACK HAWK,1011200.0,STRAIGHT BOURBON WHISKIES,65.0,JIM BEAM BRANDS,19112,JIM BEAM DEVIL'S CUT,12,750,15.07,22.61,2,45.22,1.50,0.40
1,INV-10009800080,01/25/2018,2582,HY-VEE #2 FOOD STORE / MASON CITY,551 S ILLINOIS AVE,MASON CITY,50401.0,POINT (-93.17114 43.14623),17.0,CERRO GORDO,1011400.0,TENNESSEE WHISKIES,85.0,BROWN FORMAN CORP.,26585,GENTLEMAN JACK,12,375,8.50,12.75,3,36.00,1.12,0.30
2,INV-10020300040,01/25/2018,4696,QUIK TRIP #517 / WEST DES MOINES,1451 22ND ST,WEST DES MOINES,50266.0,POINT (-93.735967 41.59527),77.0,POLK,1031100.0,AMERICAN VODKAS,205.0,E & J GALLO WINERY,36968,NEW AMSTERDAM VODKA,24,375,3.50,5.25,10,52.50,3.75,0.99
3,INV-10084700039,01/30/2018,5060,L&M MIGHTY SHOP,"504, E BURLINGTON ST",IOWA CITY,52240.0,POINT (-91.52843 41.657818),52.0,JOHNSON,1031100.0,AMERICAN VODKAS,259.0,HEAVEN HILL BRANDS,35416,BURNETT'S VODKA 80 PRF,12,750,4.48,6.72,2,13.44,1.50,0.40
4,INV-10023000115,01/25/2018,2561,HY-VEE FOOD STORE / FLEUR / DSM,4605 FLEUR DRIVE,DES MOINES,50321.0,POINT (-93.64494300000001 41.542748),77.0,POLK,1062400.0,SPICED RUM,259.0,HEAVEN HILL BRANDS,43028,ADMIRAL NELSON SPICED RUM,6,1750,11.55,17.33,6,103.98,10.50,2.77
5,INV-09998900057,01/24/2018,2670,HY-VEE FOOD STORE / CORALVILLE,2004 8TH ST,CORALVILLE,52241.0,POINT (-91.591868 41.682337000000004),52.0,JOHNSON,1031100.0,AMERICAN VODKAS,55.0,SAZERAC NORTH AMERICA,35948,FLEISCHMANN'S ROYAL VODKA 80 PRF,6,1750,6.85,10.28,6,64.62,10.50,2.77
6,INV-09980400044,01/24/2018,3704,CELTICS BEVERAGE COMPANY,1122 BROADWAY,EMMETSBURG,50536.0,POINT (-94.678807 43.10937),74.0,PALO ALTO,1011200.0,STRAIGHT BOURBON WHISKIES,65.0,JIM BEAM BRANDS,19476,MAKER'S MARK,12,750,17.50,26.25,1,25.98,0.75,0.20
7,INV-10026000005,01/25/2018,4917,KUM & GO #115 / PERRY,1115 IA HWY 141,PERRY,50220.0,POINT (-94.10386 41.830334),25.0,DALLAS,1082000.0,IMPORTED CORDIALS & LIQUEURS,192.0,"MAST-JAGERMEISTER US, INC",65254,JAGERMEISTER LIQUEUR,24,375,6.52,9.78,4,39.12,1.50,0.40
8,INV-10034300037,01/26/2018,4291,FAREWAY STORES #597 / CRESTON,105 E ADAMS ST,CRESTON,50801.0,POINT (-94.237509 40.715722),88.0,UNION,1081600.0,WHISKEY LIQUEUR,421.0,SAZERAC COMPANY INC,86886,SOUTHERN COMFORT,12,750,10.33,15.50,4,62.00,3.00,0.79
9,INV-10115300020,01/31/2018,2522,HY-VEE WINE AND SPIRITS / SPIRIT LAKE,HWY 9 & 71,SPIRIT LAKE,51360.0,NaN,30.0,DICKINSON,1012100.0,CANADIAN WHISKIES,115.0,CONSTELLATION BRANDS INC,10550,BLACK VELVET TOASTED CARAMEL,12,750,6.75,10.13,12,121.56,9.00,2.38

In [7]:
#extracting the number of rows & columns in our dataset
data.shape

(30767347, 24)

In [15]:
#checking the information of our variables
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30767347 entries, 0 to 30767346
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Invoice/Item Number    object
 1   Date                   object
 2   Store Number           int64
 3   Store Name             object
 4   Address                object
 5   City                   object
 6   Zip Code               object
 7   Store Location         object
 8   County Number          float64
 9   County                 object
 10  Category               float64
 11  Category Name          object
 12  Vendor Number          float64
 13  Vendor Name            object
 14  Item Number            object
 15  Item Description       object
 16  Pack                   int64
 17  Bottle Volume (ml)     int64
 18  State Bottle Cost      float64
 19  State Bottle Retail    float64
 20  Bottles Sold           int64
 21  Sale (Dollars)         float64
 22  Volume Sold (Liters)   float64
 23  Volume Sold (Gallons)  float64
dtypes: float64(8), int64(4), object(12)
memory usage: 5.5+ GB

In [ ]:
#checking the type of each variable
data.dtypes

Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number               object
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost        float64
State Bottle Retail      float64
Bottles Sold               int64
Sale (Dollars)           float64
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
dtype: object

In [ ]:
#rename columns: Remove "/", replace spaces with "_", and convert to lowercase

def rename_columns(df):
    df.columns = df.columns.str.replace("/", "_", regex=True)  # Remove "/"
    df.columns = df.columns.str.replace(" ", "_")  # Replace spaces with "_"
    df.columns = df.columns.str.lower()  # Convert to lowercase
    return df

data = rename_columns(data)

data.columns

Index(['invoice_item_number', 'date', 'store_number', 'store_name', 'address',
       'city', 'zip_code', 'store_location', 'county_number', 'county',
       'category', 'category_name', 'vendor_number', 'vendor_name',
       'item_number', 'item_description', 'pack', 'bottle_volume_(ml)',
       'state_bottle_cost', 'state_bottle_retail', 'bottles_sold',
       'sale_(dollars)', 'volume_sold_(liters)', 'volume_sold_(gallons)'],
      dtype='object')

In [ ]:
#check how many missing values are in our dataset
data.isnull().sum()

invoice_item_number            0
date                           0
store_number                   0
store_name                     0
address                    83512
city                       83511
zip_code                   83578
store_location           2502249
county_number            6634504
county                    160314
category                   16974
category_name              25040
vendor_number                  9
vendor_name                    7
item_number                    0
item_description               0
pack                           0
bottle_volume_(ml)             0
state_bottle_cost             10
state_bottle_retail           10
bottles_sold                   0
sale_(dollars)                10
volume_sold_(liters)           0
volume_sold_(gallons)          0
dtype: int64

In [ ]:
#function to check if a column contains only numeric values
def check_numeric_column(df, column_name):
    # Check if all values in the column are numeric
    non_numeric_values = df[~df[column_name].astype(str).str.isnumeric()]
    
    if non_numeric_values.empty:
        print(f"Column '{column_name}' contains only numbers.")
    else:
        print(f"Column '{column_name}' contains non-numeric values. Here are some examples:")
        print(non_numeric_values[[column_name]].head(10))  # Display first 10 problematic rows

In [ ]:
# Check for numeric values in "item_number"
check_numeric_column(data, "item_number")

Column 'item_number' contains non-numeric values. Here are some examples:
         item_number
27707782     x904631
28713699     x904631
28733608     x904631

**given that the column item_number contains a few rows with "x" before the numbers, we removed the "x" and re casted the column into numeric type, as it should be**

In [34]:
# Replace 'x' in the "item_number" column for specific rows
data.loc[data["item_number"].str.contains("x", na=False), "item_number"] = data["item_number"].str.replace("x", "", regex=True)

# Convert to numeric after replacement
data["item_number"] = pd.to_numeric(data["item_number"], errors='coerce')

In [35]:
#describing numerical data
data.describe()

,store_number,county_number,category,vendor_number,item_number,pack,bottle_volume_(ml),state_bottle_cost,state_bottle_retail,bottles_sold,sale_(dollars),volume_sold_(liters),volume_sold_(gallons)
count,3.076735e+07,2.413284e+07,3.075037e+07,3.076734e+07,3.076735e+07,3.076735e+07,3.076735e+07,3.076734e+07,3.076734e+07,3.076735e+07,3.076734e+07,3.076735e+07,3.076735e+07
mean,3.965642e+03,5.725913e+01,1.051064e+06,2.755549e+02,5.074057e+04,1.210848e+01,8.725980e+02,1.086278e+01,1.630386e+01,1.089341e+01,1.466656e+02,9.141889e+00,2.412119e+00
std,1.386019e+03,2.728710e+01,8.619297e+04,1.462552e+02,7.696826e+04,7.803960e+00,6.207841e+02,1.349856e+01,2.024657e+01,3.068446e+01,5.175873e+02,3.642088e+01,9.621490e+00
min,2.106000e+03,1.000000e+00,1.012200e+05,1.000000e+01,1.010000e+02,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-7.680000e+02,-9.720000e+03,-1.344000e+03,-3.550400e+02
25%,2.623000e+03,3.100000e+01,1.012200e+06,1.920000e+02,2.703700e+04,6.000000e+00,7.500000e+02,5.750000e+00,8.630000e+00,3.000000e+00,3.600000e+01,1.500000e+00,4.000000e-01
50%,3.917000e+03,6.200000e+01,1.031200e+06,2.600000e+02,3.949200e+04,1.200000e+01,7.500000e+02,8.500000e+00,1.275000e+01,6.000000e+00,7.800000e+01,4.800000e+00,1.260000e+00
75%,4.847000e+03,7.700000e+01,1.062400e+06,3.950000e+02,6.487000e+04,1.200000e+01,1.000000e+03,1.300000e+01,1.950000e+01,1.200000e+01,1.510800e+02,1.050000e+01,2.770000e+00
max,1.052900e+04,9.900000e+01,1.901200e+06,9.870000e+02,9.999960e+05,3.360000e+02,3.780000e+05,2.498902e+04,3.748353e+04,1.500000e+04,2.795573e+05,1.500000e+04,3.962580e+03