In [2]:
## Group work

In [3]:
import pandas as pd

In [5]:
data = pd.read_csv("C:\\Users\\ginny\\Desktop\\RCG\\Group Work\\Iowa_Liquor_Sales_SEP2024.csv") #Maud
#data = pd.read_csv("/Users/christopherstephan/Documents/IE/Term 3/Consumer Goods/project/Iowa_Liquor_Sales_DEC24.csv") #Chris

C:\Users\ginny\AppData\Local\Temp\ipykernel_15720\1736729618.py:1: DtypeWarning: Columns (6,14) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("C:\\Users\\ginny\\Desktop\\RCG\\Group Work\\Iowa_Liquor_Sales_SEP2024.csv") #Maud

In [6]:
data.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S03408100057,01/03/2012,3162,NASH FINCH / WHOLESALE FOOD,807 GRANDVIEW,MUSCATINE,52761,POINT (-91.06411300000002 41.408437),70.0,MUSCATINE,...,43127,BACARDI SUPERIOR RUM,12,1000,9.43,14.14,4,56.56,4.00,1.06
1,S03408800027,01/03/2012,2959,DAHL'S / MERLE HAY,4343 MERLE HAY ROAD,DES MOINES,50310,POINT (-93.697647 41.63740800000001),77.0,POLK,...,36188,GORDON'S VODKA 80 PRF - PET,6,1750,9.68,14.52,6,87.12,10.50,2.77
2,S03382600002,01/03/2012,4317,FAREWAY STORES #941 / GREENFIELD,212 SW KENT,GREENFIELD,50849,POINT (-94.462719 41.303167),1.0,ADAIR,...,11296,CROWN ROYAL,12,750,14.25,21.37,12,256.44,9.00,2.38
3,S03411200041,01/03/2012,2587,HY-VEE FOOD STORE / JOHNSTON,5750 MERLE HAY ROAD,JOHNSTON,50131,POINT (-93.697731 41.665172),77.0,POLK,...,89786,SAUZA GOLD,12,750,8.40,12.59,1,12.59,0.75,0.20
4,S03410100024,01/03/2012,3962,DURANT STREET COUNTRY STOP,618 DURANT ST,HARLAN,51537,POINT (-95.318597 41.656803),83.0,SHELBY,...,65061,GOLDSCHLAGER CINNAMON SCHNAPPS MINI,10,600,13.73,20.60,1,20.60,0.60,0.16

In [7]:
data.describe()

,Store Number,County Number,Category,Vendor Number,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
count,2.988146e+07,2.413284e+07,2.986449e+07,2.988145e+07,2.988146e+07,2.988146e+07,2.988145e+07,2.988145e+07,2.988146e+07,2.988145e+07,2.988146e+07,2.988146e+07
mean,3.935989e+03,5.725913e+01,1.050391e+06,2.744148e+02,1.212339e+01,8.752978e+02,1.076350e+01,1.615515e+01,1.085411e+01,1.457132e+02,9.143934e+00,2.412744e+00
std,1.338225e+03,2.728710e+01,8.363795e+04,1.457791e+02,7.787556e+00,6.230850e+02,1.332898e+01,1.999222e+01,3.058111e+01,5.140851e+02,3.631079e+01,9.592405e+00
min,2.106000e+03,1.000000e+00,1.012200e+05,1.000000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-7.680000e+02,-9.720000e+03,-1.344000e+03,-3.550400e+02
25%,2.623000e+03,3.100000e+01,1.012200e+06,1.630000e+02,6.000000e+00,7.500000e+02,5.740000e+00,8.610000e+00,3.000000e+00,3.585000e+01,1.500000e+00,4.000000e-01
50%,3.907000e+03,6.200000e+01,1.031200e+06,2.600000e+02,1.200000e+01,7.500000e+02,8.500000e+00,1.275000e+01,6.000000e+00,7.740000e+01,4.800000e+00,1.260000e+00
75%,4.829000e+03,7.700000e+01,1.062400e+06,3.950000e+02,1.200000e+01,1.000000e+03,1.300000e+01,1.950000e+01,1.200000e+01,1.493000e+02,1.050000e+01,2.770000e+00
max,1.046400e+04,9.900000e+01,1.901200e+06,9.870000e+02,3.360000e+02,3.780000e+05,2.498902e+04,3.748353e+04,1.500000e+04,2.795573e+05,1.500000e+04,3.962580e+03